/****************************/
/****************************/
/****************************/

@media screen and (max-width:1800px) {
  .section-header {
    .header-menu__hamburger {
      display: block;
    }



    .header-menu {
      display: none;
      position: fixed;
      width: 300px;
      height: 100%;
      flex-flow: column wrap;
      top: 0;
      right: 0;
      z-index: 20;
      background-color: #fff;
      padding: 10px;

      a {
        display: block;
        padding: 15px 10px;
        border-bottom: 1px solid #EEF2F5;
        text-align: center;
      }
    }

    .header {

    }
  }

  .section-cost {
    overflow: hidden;
    .cost {
      padding: 20px 18px;
    }
  }

  .section-audit {
    .audit {
      background-size: cover;
      background-position: 0 0;

      &-form {
        margin-right: 0;
      }
    }
  }

  .section-results {
    .results {
      &-card {
        padding: 0 50px;

        &__body {
          padding: 18px;
          flex: 0 1 40%;
        }
      }
    }
  }

  .banner{

    &-brand {
      justify-content: center;

      &__item {
        img {
          width: 80%;
        }
      }
    }

    &-top {
      &-advantages {
        &__item {
          margin-right: 0;
        }
      }
    }
  }

  .section-team {
    .team {
      &-row {
        display: block;

        &-item {
          width: 100%;
          padding: 0 !important;

          &.col {
            margin-bottom: 30px;
          }
        }
      }

      &-card {
        height: 320px;
      }
    }
  }

  .section-efficiency {
    .efficiency {
      &-form {
        top: 140px;
        margin-left: -20%;

        &__title {
          letter-spacing: 0.15em;
          right: 100px;
          width: 80%;
        }
      }

      &-step {
        margin-left: 17%;
      }
    }
  }


  .section-services {
    .service {

      &-head {
        margin-bottom: 30px;
      }

      &-card {
        &__title {
          max-width: 100%;
        }
      }

      &-link {
        padding: 25px 40px;
      }
    }
  }


}

/****************************/
/****************************/
/****************************/
@media screen and (max-width:1500px) {
  .section-fail {
    .fail {
      padding: 0;

      &-title {
        text-align: center;
        padding: 0;
      }

      &-bigtitle {
        display: none;
      }

      &-slider {
        &-img {
          height: 500px;
          &__item {
            width: 400px;
            height: 400px;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }

}
/****************************/
/****************************/
/****************************/

@media screen and (max-width:1400px) {
  .layout {
    padding: 0 40px;
  }

  .banner-top {
    padding: 70px 70px 100px;
    background-position: 70% 0;

    &__title {
      font-size: 30px;
      line-height: 30px;
    }

    &__head {
      width: 70%;
    }
  }

  .section-fail .fail-title,
  .section-title {
    font-size: 30px;
    line-height: 30px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 30px;
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 0;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 0;
  }

  .section-results {
    .results {
      &-card {
        padding: 0 30px;
        &__body {
          flex: 0 1 60%;
        }

        &-list {
          &__num {
            margin-right: 11px;
            font-size: 20px;
            line-height: 30px;
          }

          li {
            font-size: 15px;
            line-height: 15px;
          }
        }
      }
    }
  }

  .section-cost {
    .cost {
      margin: 0;
      padding: 20px 0;

      &-plane-gift__icon {
        display: none;
      }

      &-item {
        padding: 0 4px;
      }
    }
  }


  .section-number {
    .number {
      margin: 40px 0;

      &-grid {
        justify-content: center;
      }

      &-card {

        &__bg {
          width: 80%;
        }

        &-label {
          margin: 0 auto 20px;
          &__figure {
            width: 100%;
          }
        }
      }
    }
  }

  .section-efficiency {
    .efficiency {
      &-form {
        margin-left: -23%;
      }

      &-step {
        margin-left: 20%;
      }
    }
  }


}

/****************************/
/****************************/
/****************************/

@media screen and (max-width:1200px) {

  .c-section {
    padding: 0 0 60px;
  }

  .banner-top {
    padding: 50px;

    &__head {
      margin-bottom: 40px;
    }

    &-advantages {
      display: block;

      &__item {
        max-width: 100%;
        margin-bottom: 20px;
        width: 100%;
      }

      &-card {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        &__label {
          flex: 0 1 41px;
          margin: 0 14px 0 0;
        }

        &__text {
          text-align: left;
        }
      }
    }
  }

  .section-audit {
    .audit {
      &-body {
        padding: 60px;
      }

      &-form {
        max-width: 450px;
        padding: 50px 40px;
      }

      &-sale,
      &-title {
        font-size: 32px;
        line-height: 46px;
      }

      &-sale {
        margin-right: 15px;
      }
    }
  }

  .section-results {
    .results {
      &-card {

        &__body {
          flex: 0 1 70%;
        }
      }
    }
  }

  .section-cost {
    .cost {


      &-plane {
        &__head {
          padding: 16px 18px;
        }

        &__title,
        &__price {
          font-size: 20px;
          line-height: 21px;
        }

        &__body{
          padding: 0 18px 24px;
        }
      }
    }
  }

  .section-number {
    .number {
      margin: 40px 0;

      &-grid {
        justify-content: center;
      }

      &-card {

        &__title {
          font-size: 18px;
          line-height: 24px;
        }

        &-label {
          margin: 0 auto;
          width: 250px;
          height: 250px;

          &__num {
            font-size: 48px;
            line-height: 48px;
          }
        }
      }
    }
  }

  .section-efficiency {
    .efficiency {
      &-form {
        //position: static;
        //top: auto;
        //left: auto;
        //margin: 0;
        //transform: none;
        //
        //&__item {
        //  position: static;
        //  right: 0 !important;
        //  margin-bottom: 20px;
        //}
        margin-left: -100px;

        &-card {
          justify-content: center;
        }
      }

      &-step {
        display: none;
      }

      &-schema {
        //display: flex;
        //flex-flow: row wrap;
        //justify-content: flex-end;
        //align-items: stretch;
        width: 465px;
        position: relative;
        left: 40%;
        &__text {
          h4 {
            margin: 0;
          }
          span {
            display: block;
          }

          &:nth-child(1) {
            top: 3%;
          }
          &:nth-child(2) {
            top: 31%;
          }
          &:nth-child(3) {
            top: 58%;
          }
          &:nth-child(4) {
            top: 85%;
          }
        }
      }
    }
  }

  .section-services {
    .service {
      &-card {
        &__body {
          padding: 30px 44px;
        }
        &__title {
          font-size: 48px;
          line-height: 54px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .section-fail {
    .fail {

      &-slider {
        &-img {
          height: 420px;

          &__item {
            width: 300px;
            height: 300px;
          }
        }
      }
    }
  }

}


/****************************/
/****************************/
/****************************/

@media screen and (max-width:1000px) {
  .section-audit {
    .audit {
      display: block;
      background: none;

      &-subtitle {
        margin-bottom: 24px;
      }

      &-body {
        padding: 30px 0;
      }

      &-form {
        max-width: 100%;

        &__title {
          margin-bottom: 8px;
        }
      }


      &-title {

      }

      &-sale {
        margin-right: 15px;
      }
    }
  }

  .section-results {
    .results {

      .swiper-button-next,
      .swiper-button-prev {
        top: 25%;
      }
      &-card {
        padding: 0;
        flex-flow: column wrap;
        &__body {
          order: 2;
          width: 100%;
          flex: auto;

        }

        &__img {
          order: 1;
        }
      }
    }
  }

  .section-cost {
    .cost {
      display: block;

      &-item {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  .section-header {
    .header {
      padding: 12px 0 0;
    }
  }

  .banner-brand {
    padding: 0 18px;
  }

  .wrapper {
    padding-top: 100px;
  }

  .section-number {
    .number {

      &-col {
        width: 50%;
      }

      &-card {
        &__bg {
          width: 70%;
        }
      }
    }
  }

  .c-section {
    padding: 0 0 40px;
  }

  .section-fail .fail-title,
  .section-title {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 8px;
  }

  .section-results {
    .results {
      padding-bottom: 20px;
      &-card {
        &__body {
          margin-top: -30px;
        }
        &__schema {
          margin-bottom: 24px;
        }
      }
    }
  }

  .section-services {
    .service {

      margin-bottom: 20px;
      &-card {
        &__body {
          padding: 24px 34px;
        }
        &__title {
          font-size: 40px;
          line-height: 44px;
        }

        &__text {
          font-size: 16px;
          line-height: 1.4;
          margin-bottom: 20px;
        }
      }
    }
  }

  .section-services {
    .service {


      &-link {
        padding: 20px 25px;
      }
    }
  }

  .section-team {
    .team {
      &-card {
        &.horizontal {
          padding: 26px 35px;
        }
      }
    }
  }
}

/****************************/
/****************************/
/****************************/


@media screen and (max-width:900px) {
  .layout {
    padding: 0 30px;
  }

  .banner-top {
    padding: 50px;
    background-position: 57% 0;

    &__head {

    }

    &-advantages {

      &__item {

      }

      &-card {

        &__label {

        }

        &__text {

        }
      }
    }
  }

  .section-efficiency  {
    .efficiency {
      //overflow: hidden;
      &-schema {
        margin-right: 0;
        left: 35%;
      }

      &-form {
        margin-left: -120px;
      }
    }
  }

  .section-fail {
    .fail {

      &-title {
        margin-bottom: 28px;
      }

      .swiper-container {
        margin-bottom: 30px;

        .swiper-pagination {
          display: block;
          bottom: 0;
          left: auto;
          right: 16px;
          text-align: right;
          z-index: 1;
        }

        .fail-slider {
          overflow: hidden;
        }
      }

      &-grid {
        display: block;
      }

      &-col {
        width: 100%;
      }

      &-card {
        margin-bottom: 0px;
        &__title {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 12px;
        }

        &__text {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &-slider {
        &-img {
          width: 100%;
          height: 400px;
          overflow: hidden;
          position: relative;

          &__item {
            width: 100%;
            height: 100%;
            bottom: 0 !important;
            right: 0 !important;
          }
        }
      }
    }
  }


}

/****************************/
/****************************/
/****************************/

@media screen and (max-width:800px) {
  .section-header {
    background-color: #f7f7f7;
    @include animation();

    &.sticky {
      @include animation();
      top: -40px;

      .header {
        padding-top: 0;
      }
      .header-logo {
        //display: none;

      }

      .header-info__logo {
        display: block;
      }
    }

    .header {
      display: block;
      margin-bottom: 6px;



      &-info {
        justify-content: space-between;
      }

      &-logo__text {
        display: none;
      }

      &-logo {
        img {
          margin: 0 auto 8px;
        }
      }

      &-phone {
        span {
          display: none;
        }
      }

      &-btn {
        order: 2;
        border: none;
        text-decoration: underline;
        font-size: 16px;
        margin: 0;
        white-space: nowrap;
      }

      &-phone {
        order: 3;
        a {
          white-space: nowrap;
        }
      }

      &-menu {
        &__hamburger {
          order: 1;
          margin: 0 14px 0 0;
        }
      }


    }
  }

  .wrapper {
    padding-top: 106px;
  }

  .section-banner {
    .layout {
      padding: 0;
    }
  }

  .banner {
    &-top {
      padding: 40px 24px 100px;
      background-position: 75% 65px;
      background-color: #f8f8f8;
      position: relative;

      &__title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 8px;
      }

      .c-btn {
        position: absolute;
        left: 24px;
        bottom: 40px;
      }

      &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
      }

      &__head {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  .section-audit {
    .layout {
      padding: 0;
    }

    .audit {
      &-body {
        padding: 30px;
      }

      &-form {
        padding: 50px 30px;
      }
    }
  }

  .section-efficiency {
    position: relative;

    .layout {
      padding: 0;
    }

    .section-title {

      margin: 0;
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      z-index: 1;
      color: #fff;
      font-weight: 400;
    }

    .efficiency {

      padding: 80px 10px 30px;

      &__title {
        display: none;
      }

      &-schema {
        left: 0;
        margin: 0 auto 30px;
        width: 100%;
        max-width: 465px;
        img {
          width: 100%;
        }
      }
      &-form {
        position: static;
        margin: 0;
        transform: none;
        margin-bottom: 30px;

        &-card {
          &__text {
            width: 160px;
            line-height: 16px;
          }
        }

        &__title {
          right: auto;
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
        }

        &__item {
          margin-bottom: 20px;
          right: 0 !important;
        }
      }
    }
  }

  .section-services {
    .service {

      &-head {
        margin-bottom: 24px;
      }

      &-card {
        flex-flow: column wrap;
        &.v1 {
          .service-card__img {
            width: 100%;
          }

          .service-card__body {
            width: 100%;
            background-color: #fff;
          }
        }
        &__img {
          order: 2;
          width: 100%;
        }
        &__body {
          order: 1;
          width: 100%;
          padding: 0;
          margin-bottom: 20px;

          .c-btn-layout {
            text-align: center;
          }
        }
        &__title {
          text-align: center;
          margin-bottom: 14px;
          font-size: 34px;
          line-height: 36px;
        }

        &__text {
        }


      }
    }
  }

  .section-form {
    background: none;
  }


}

/****************************/
/****************************/
/****************************/

@media screen and (max-width:780px) {
  .layout {
    padding: 0 18px;
  }

  .banner-top {
    padding-left: 18px;
    padding-right: 18px;
    .c-btn {
      position: absolute;
      left: 18px;
      bottom: 26px;
    }
  }


  .section-number {
    .number {

      &-grid {
      }

      &-col {
        width: 50%;
      }

      &-card {

        &__bg {
          width: 70%;
        }

        &__title {
          font-size: 14px;
          line-height: 20px;
          padding: 0 20px;
        }

        &-label {

          width: 200px;
          height: 200px;

          &__num {
            font-size: 40px;
            line-height: 40px;
          }

          &__text {
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
    }
  }

  .banner-arrow {
    margin-top: 14px;
  }

  .section-audit {

    .audit {
      &-body {
        padding: 30px 18px;
      }
    }
  }

  .section-team {
    .team {
      display: none;
    }

    .team-mobile {
      display: block;

      .team-card {
        height: 550px;
        background-size: 250px !important;
      }
    }
  }

}


/****************************/
/****************************/
/****************************/

@media screen and (max-width:620px) {
  .banner {
    &-top {
      padding: 22px 18px 67px;
      background-position: 71% 28px;
      background-size: 1230px;

      &-advantages {
        max-width: 64%;

        &-card__text {
          font-size: 14px;
          line-height: 20px;
          flex: 1;
        }
      }
      &__title {
      }

      .c-btn {
        padding: 14px 19px;
        font-size: 14px;
      }

      &__text {
      }

      &__head {
      }
    }
  }

  .section-services {
    .service {



      &-head {
      }

      &-link {
        position: relative;
        padding: 15px 6px;
        display: block;

        &:nth-child(1) {
          &::before {
            content: '';
            background: linear-gradient(90deg, #14D6C2 -30.77%, #36F298 100%);
          }
        }
        &:nth-child(2) {
          &::before {
            content: '';
            background: linear-gradient(89.7deg, #0D81D8 0.29%, #1EBDFE 99.77%);
          }
        }
        &:nth-child(3) {
          &::before {
            content: '';
            background: linear-gradient(90deg, #14D6C2 -30.77%, #36F298 100%);
          }
        }
        &:nth-child(4) {
          &::before {
            content: '';
            background: linear-gradient(90.05deg, #DB40A2 0.05%, #FFA6BB 99.96%);
          }
        }

        &::after {
          content: '';
          display: none;
        }

        &.active {

          &::before {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 50%;
            transform: translateX(-50%);
            width: 14px;
            height: 14px;
            border-radius: 50px;
            background-color: #ccc;
          }
        }
      }

    }
  }


}

/****************************/
/****************************/
/****************************/

@media screen and (max-width:580px) {
  .layout {
    padding: 0 10px;
  }
  .banner-brand__item {
    width: 33%;
  }

  .section-team {


    .team-mobile {
      display: block;

      .team-card {
        height: auto;
        background-size: 200px !important;
        padding: 27px 18px 37px;

        &__name {
          line-height: 16px;
        }

        &__quote {
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
        }

        &__wrapper {
          margin-bottom: 26px;
        }


        &__head {
          width: 70%;
        }
      }
    }
  }

  .section-efficiency {
    .efficiency-popup {
      padding: 20px 18px 30px;
      border-radius: 30px;

      &-indicators {
        display: block;

        &__col {
          display: inline-block;
        }

        &__operator {
          position: static;
          display: inline-block;
          margin: 0 4px;
        }

        &__card {
          div {
            display: inline-block;
            margin-right: 4px;
            font-size: 14px;
            line-height: 16px;
          }

          span {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }

      &-result {

        &__title {
          font-size: 16px;
          margin-bottom: 16px;
        }

        &__arrow {
          overflow: hidden;
          width: 10px !important;
          height: 24px;
          position: relative;
          margin: 0 20px;

          img {
            position: absolute;
            right: 0;
            top: -7px;
          }
        }

        &__bigarrow {
          width: 27px;
          img {
            width: 100%;
            height: auto;
          }
        }

        &__row {
          font-size: 18px;
          line-height: 26px;
        }

        &__info {
          width: auto;
        }

        &-all {
          &__num {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }

    }


  }


}


@media screen and (max-width:480px) {
  .layout {
    padding: 0 10px;
  }

  .section-header {
    .header {
      display: block;
      padding: 18px 0 0;

      &-btn {
        font-weight: normal;
        text-transform: none;
        font-size: 12px;
        padding: 12px;
      }

      &-phone {
        a {
          font-weight: normal;
          font-size: 12px;
        }
      }

      &-logo {
        padding: 0;
        img {
          width: 185px;
        }
      }

    }
  }

  .c-form {
    &__text {
      margin-bottom: 10px;
    }
  }

  .section-results {
    .results {
      &-card {

        &__body {
          padding: 18px 0;
        }
        &__schema {
          margin-bottom: 20px;
        }
      }
    }
  }


  .section-cost {
    .cost {
      padding: 0;
    }
  }

  .banner-top {
    background-position: 76% 94px;
    //background-size: 420%;
    &__title {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .c-section {
    padding: 0 0 30px;
  }

  .section-efficiency .section-title {
    margin: 0 0 20px;
  }

  .section-fail .fail-title,
  .section-title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 20px;
  }

  .section-subtitle {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 17px;
  }


  .section-audit {
    .audit {
      margin-bottom: 40px;
      &-link {
        font-weight: normal;
        text-transform: none;
        font-size: 12px;
      }

      &-form {
        padding: 25px 18px;

        .c-btn {
          width: auto;
        }

        .c-btn-layout {
          margin-bottom: 18px;
        }

        &__subtitle {
          margin-bottom: 18px;
        }
      }

      &-subtitle {
        font-size: 14px;
      }

      &-sale, &-title {
        font-size: 22px;
        line-height: 24px;
        text-transform: uppercase;
      }

      &-list {
        margin-bottom: 20px;
        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  .c-btn-big {
    padding: 14px 19px;
    font-size: 14px;
  }

  .c-btn-default {
    padding: 10px 20px;
  }

  .section-efficiency {

    .efficiency {

      &-schema {

        &__text {
          h4 {
            font-size: 14px;
            line-height: 16px;
          }

          span {
            font-size: 12px;
            line-height: 14px;
          }
        }

      }
      &-form {

        &__item {
          margin-bottom: 10px;
        }


        &-card {
          &__input {
            width: 120px;
          }
        }
      }

      .c-btn span {
        display: none;
      }
    }
  }


  .section-services {
    .service {

      &-head {
      }

      &-card {

        &__img {

        }
        &__body {

        }
        &__title {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 10px;
        }

        &__text {
          font-size: 15px;
          line-height: 1.3;
        }


      }
    }
  }

  .section-services {
    .service {

      &-link {
        font-size: 11px;
      }

    }
  }

  .section-number {

    .number {
      margin: 30px 0;

      &-col {
        margin-bottom: 20px;
      }
      &-card {
        &__title {
          font-size: 12px;
          line-height: 16px;
          padding: 0;
        }

        &-label {
          width: 150px;
          height: 150px;

          &__num {
            font-size: 20px;
            line-height: 20px;
          }
        }
      }


    }
  }

  .section-fail {
    .fail {

      &-card {
        &__title {
          font-size: 14px;
          line-height: 20px;
        }

        &__text {
          font-size: 14px;
          line-height: 20px;
        }
      }

      &-slider {
        &-img {
          width: 100%;
          height: 300px;
        }
      }
    }
  }

  .menu-mobile {
    max-width: 100%;
  }


}

@media (max-width: 360px) {
  .section-number {
    .number {

      &-card {
        &__title {
        }

        &-label {
          width: 120px;
          height: 120px;

        }
      }
    }
  }

  .c-form {
    &__text {
      font-size: 12px;
    }
  }

  .section-team {


    .team-mobile {

      .team-card {
        background-size: 190px !important;

        &__list {
          margin-left: -18px;

          li {
            font-size: 10px !important;
            font-weight: 400;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
